body {
  display: flex;
  flex-direction: column;
  background-color: rgb(14,33,53);
  margin: 10px 0px 0px 0px;
}

.header {
  display: flex;
  height: 200px;
  background-color: rgb(14,33,53);
  padding: 0px 0px 0px 0px;
}

.header-logo {
  background-color: rgb(14,33,53);
  padding: 0px 0px 0px 0px;
}

.logo-button {
  background-color: rgb(14,33,53);
  border: none;
  width: 280px;
  height: 170px;
  margin: 20px 0px 0px 40px;
  padding: 0px 0px 0px 0px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.logo-button:hover {
  transform: scale(1.2);
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: none;
}

.header-buttons {
  display: flex;
  flex: 1;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 120px;
}

.home-button, 
.about-button, 
.contact-button,
.library-button,
.live-now-button {
  display: inline-block;
  background-color: rgb(14,33,53);
  color: white;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 30px 100px 0px 0px;
  padding: 0px 0px 0px 0px;
  transition: transform 0.5s ease;
}

.live-now-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14,33,53);
  width: 200px;
  margin: 0px 55px 0px 0px;
}
.live-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218,99,35);
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 40px;
  font-weight: normal;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
}

.home-button:hover, 
.about-button:hover, 
.contact-button:hover,
.library-button:hover,
.live-now-button:hover {
  transform: scale(1.2);
}