body {
  background-color: rgb(14,33,53);
  margin-top: 10px;
}

.header {
  display: flex;
  height: 200px;
  background-color: rgb(14,33,53);
}

.header-logo {
  display: flex;;
  flex: 1;
  background-color: rgb(14,33,53);
}

.logo-button {
  display: flex;
  flex: 1;
  background-color: rgb(14,33,53);
  height: 85%;
  padding: 0px 0px;
  margin-top: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 0px 0px 0px 0px;
  cursor: pointer;
  min-height: 50%;
  min-width: 50%;
}

.logo {
  width: 100%; /* Makes the logo fill the button's width */
  height: 100%; /* Makes the logo fill the button's height */
  object-fit: fill; 
}

.header-buttons {
  display: flex;
  flex: 3;
}

.home-button, 
.about-button, 
.contact-button,
.library-button,
.live-now-button {
  flex: 1;
  background-color: rgb(14,33,53);
  border: none;
  height: 50px;
  width: 100px;
  margin: 30px 30px;
  padding: 0px 0px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.5s;
}

.live-now-button {
  background-color: rgb(218,99,35);
  border-radius: 11px;
  width: 80px;
  min-width: 80px;
  font-size: 29px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.home-button:hover, 
.about-button:hover, 
.contact-button:hover,
.library-button:hover,
.live-now-button:hover {
  transform: scale(1.1);
}