.library-wrapper {
  width: 30%;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.38);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.library-heading {
  font-size: 2.5rem;
  color: #da6323;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.library-subtext {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

.songs-library {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr 1fr);
  gap: 15px;
}

.song {
}

.song-name {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  color: #07103d;
  text-align: center;
  margin-bottom: 5px;
}

.play-button {
  display: block;
  width: 30%;
  padding: 5px 10px;
  background-color: #da6323;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}